@model laba1.Models.Workout
@{
	ViewData["Title"] = "Удаление тренировки";
}
<h1>Удаление тренировки</h1>
<div class="alert alert-danger">
	<h3>Вы уверены, что хотите удалить эту тренировку?</h3>
</div>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Type)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Type)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Duration)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Duration) мин</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Calories)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Calories)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Difficulty)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Difficulty)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Instructor)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Instructor)</dd>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Date)</dt>
		<dd class="col-sm-10">@Model.Date.ToString("dd.MM.yyyy")</dd>
	</dl>
	<form asp-action="Delete" asp-route-id="@Model.Id">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Удалить" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-secondary">Отмена</a>
	</form>
</div>
